[Eth]
NetworkId = {{ .ChainID }}
SyncMode = "full"
NoPruning = {{ .IsArchive }}

[Eth.Miner]
# Recommit defines the time interval for miner to re-create mining work. Required for fast block times.
Recommit = 500000000 # 500ms

[Node]
DataDir = "/geth"
HTTPHost = "0.0.0.0"
HTTPPort = 8545
HTTPVirtualHosts = ["*"]
HTTPModules = ["net", "web3", "eth"]
AuthAddr = "0.0.0.0"
AuthPort = 8551
AuthVirtualHosts = ["*"]
WSHost = "0.0.0.0"
WSPort = 8546
WSModules = ["net", "web3", "eth"]

[Node.P2P]
NoDiscovery = false
DiscoveryV4 = true
BootstrapNodes = {{ .BootstrapNodes }}
TrustedNodes = {{ .TrustedNodes }}
ListenAddr = "0.0.0.0:30303"
