[Eth]
NetworkId = {{ .ChainID }}
SyncMode = "full"
NoPruning = {{ .IsArchive }}

[Eth.Miner]
# Geth has slow block building times, but we need fast times.
# Decrease recommit to minimum (1s) and newPayloadTimeout to 500ms so blocks are built in less than 1s.
Recommit = 1000000000 # 1s
NewPayloadTimeout = 500000000 # 500ms

[Node]
DataDir = "/geth"
HTTPHost = "0.0.0.0"
HTTPPort = 8545
HTTPVirtualHosts = ["*"]
HTTPModules = ["net", "web3", "eth"]
AuthAddr = "0.0.0.0"
AuthPort = 8551
AuthVirtualHosts = ["*"]
WSHost = "0.0.0.0"
WSPort = 8546
WSModules = ["net", "web3", "eth"]

[Node.P2P]
NoDiscovery = false
DiscoveryV4 = true
BootstrapNodes = {{ .BootstrapNodes }}
TrustedNodes = {{ .TrustedNodes }}
ListenAddr = "0.0.0.0:30303"
