[profile.default]
src = "src"
out = "out"
libs = ["node_modules"]

remappings = [
  "forge-std/=node_modules/forge-std/src",
  "ds-test/=node_modules/ds-test/src",
  "src/=src",
  "test/=test",
  "core/=../core",
  "solve/=../solve"
]

allow_paths = ["../core"]

solc_version = "0.8.26"

[fmt]
bracket_spacing = true
number_underscore = "thousands"
