# Code owners for specific directories
/halo @corverroos @idea404
/relayer @corverroos @idea404
/lib @corverroos @idea404 @kevinhalliday @pavelnikolov
/contracts @kevinhalliday @ttarsi
/explorer @pavelnikolov
/explorer/indexer @corverroos
/explorer/ui @kevinhalliday
/explorer/graphql @pavelnikolov
/docs @idea404
