# Code owners for specific directories

/halo @corverroos @arajasek
/relayer @corverroos @arajasek
/octane @corverroos @arajasek

/contracts @kevinhalliday @ttarsi

/monitor @corverroos @arajasek @kevinhalliday @brid
/e2e @corverroos @arajasek @kevinhalliday @brid
/lib @corverroos @arajasek @kevinhalliday
