# open api spec
/explorer/api/openapi/** linguist-generated=true
/explorer/api/static/** linguist-generated=true
/explorer/api/openapi/openapi.yaml linguist-generated=false

# ent
/explorer/db/ent/** linguist-generated=true
/explorer/db/ent/schema/* linguist-generated=false
/explorer/db/ent/entc.go linguist-generated=false
/explorer/db/ent/generate.go linguist-generated=false
