
.icon-compare:before { content: '\e800'; } /* '' */
.icon-add-document:before { content: '\e801'; } /* '' */
.icon-alert-1:before { content: '\e802'; } /* '' */
.icon-alert:before { content: '\e803'; } /* '' */
.icon-announcement-1:before { content: '\e804'; } /* '' */
.icon-announcement:before { content: '\e805'; } /* '' */
.icon-archive:before { content: '\e806'; } /* '' */
.icon-article-1:before { content: '\e807'; } /* '' */
.icon-article:before { content: '\e808'; } /* '' */
.icon-attachment-1:before { content: '\e809'; } /* '' */
.icon-attachment:before { content: '\e80a'; } /* '' */
.icon-award-1:before { content: '\e80b'; } /* '' */
.icon-award:before { content: '\e80c'; } /* '' */
.icon-bag-1:before { content: '\e80d'; } /* '' */
.icon-bag:before { content: '\e80e'; } /* '' */
.icon-bike:before { content: '\e80f'; } /* '' */
.icon-bookmark:before { content: '\e810'; } /* '' */
.icon-broken:before { content: '\e811'; } /* '' */
.icon-bulb-1:before { content: '\e812'; } /* '' */
.icon-bulb:before { content: '\e813'; } /* '' */
.icon-calendar:before { content: '\e814'; } /* '' */
.icon-call-1:before { content: '\e815'; } /* '' */
.icon-call:before { content: '\e816'; } /* '' */
.icon-camera:before { content: '\e817'; } /* '' */
.icon-car:before { content: '\e818'; } /* '' */
.icon-card-1:before { content: '\e819'; } /* '' */
.icon-card:before { content: '\e81a'; } /* '' */
.icon-cart:before { content: '\e81b'; } /* '' */
.icon-certificate-1:before { content: '\e81c'; } /* '' */
.icon-certificate:before { content: '\e81d'; } /* '' */
.icon-changes-1:before { content: '\e81e'; } /* '' */
.icon-changes:before { content: '\e81f'; } /* '' */
.icon-chapter:before { content: '\e820'; } /* '' */
.icon-chart-1:before { content: '\e821'; } /* '' */
.icon-chapters:before { content: '\e822'; } /* '' */
.icon-chart:before { content: '\e823'; } /* '' */
.icon-chat-2:before { content: '\e824'; } /* '' */
.icon-chat:before { content: '\e825'; } /* '' */
.icon-check-1:before { content: '\e826'; } /* '' */
.icon-check:before { content: '\e827'; } /* '' */
.icon-child-1:before { content: '\e828'; } /* '' */
.icon-child:before { content: '\e829'; } /* '' */
.icon-claim-1:before { content: '\e82a'; } /* '' */
.icon-claim-2:before { content: '\e82b'; } /* '' */
.icon-claim:before { content: '\e82c'; } /* '' */
.icon-clock-1:before { content: '\e82d'; } /* '' */
.icon-collection:before { content: '\e82e'; } /* '' */
.icon-collapse:before { content: '\e82f'; } /* '' */
.icon-colour:before { content: '\e830'; } /* '' */
.icon-compass:before { content: '\e831'; } /* '' */
.icon-community:before { content: '\e832'; } /* '' */
.icon-controls-audio:before { content: '\e833'; } /* '' */
.icon-controls-fast-forward:before { content: '\e834'; } /* '' */
.icon-controls-rewind:before { content: '\e835'; } /* '' */
.icon-controls-microphone:before { content: '\e836'; } /* '' */
.icon-copy-folder:before { content: '\e837'; } /* '' */
.icon-copy:before { content: '\e838'; } /* '' */
.icon-dashboard:before { content: '\e839'; } /* '' */
.icon-disabled:before { content: '\e83a'; } /* '' */
.icon-discount:before { content: '\e83b'; } /* '' */
.icon-document-warning-1:before { content: '\e83c'; } /* '' */
.icon-document-warning:before { content: '\e83d'; } /* '' */
.icon-documents:before { content: '\e83e'; } /* '' */
.icon-down:before { content: '\e83f'; } /* '' */
.icon-download-1:before { content: '\e840'; } /* '' */
.icon-download:before { content: '\e841'; } /* '' */
.icon-drag:before { content: '\e842'; } /* '' */
.icon-duplicate:before { content: '\e843'; } /* '' */
.icon-edit-text:before { content: '\e844'; } /* '' */
.icon-edit:before { content: '\e845'; } /* '' */
.icon-edit-1:before { content: '\e846'; } /* '' */
.icon-expand:before { content: '\e847'; } /* '' */
.icon-expire:before { content: '\e848'; } /* '' */
.icon-external-link:before { content: '\e849'; } /* '' */
.icon-eye-hidden:before { content: '\e84a'; } /* '' */
.icon-eye-visible:before { content: '\e84b'; } /* '' */
.icon-file:before { content: '\e84c'; } /* '' */
.icon-filter:before { content: '\e84d'; } /* '' */
.icon-flag:before { content: '\e84e'; } /* '' */
.icon-folder-1:before { content: '\e84f'; } /* '' */
.icon-folder:before { content: '\e850'; } /* '' */
.icon-formfield-expand:before { content: '\e851'; } /* '' */
.icon-fullscreen-1:before { content: '\e852'; } /* '' */
.icon-formfield-expand-1:before { content: '\e853'; } /* '' */
.icon-fullscreen:before { content: '\e854'; } /* '' */
.icon-get-documents:before { content: '\e855'; } /* '' */
.icon-gif:before { content: '\e856'; } /* '' */
.icon-glasses:before { content: '\e857'; } /* '' */
.icon-globe-arrow:before { content: '\e858'; } /* '' */
.icon-globe-1:before { content: '\e859'; } /* '' */
.icon-globe:before { content: '\e85a'; } /* '' */
.icon-goal-1:before { content: '\e85b'; } /* '' */
.icon-goal:before { content: '\e85c'; } /* '' */
.icon-graph:before { content: '\e85d'; } /* '' */
.icon-grid-view-1:before { content: '\e85e'; } /* '' */
.icon-grid-view:before { content: '\e85f'; } /* '' */
.icon-health:before { content: '\e860'; } /* '' */
.icon-help:before { content: '\e861'; } /* '' */
.icon-home:before { content: '\e862'; } /* '' */
.icon-image:before { content: '\e863'; } /* '' */
.icon-house:before { content: '\e864'; } /* '' */
.icon-key-1:before { content: '\e865'; } /* '' */
.icon-key:before { content: '\e866'; } /* '' */
.icon-learn:before { content: '\e867'; } /* '' */
.icon-lightening-bolt:before { content: '\e868'; } /* '' */
.icon-like-1:before { content: '\e869'; } /* '' */
.icon-like:before { content: '\e86a'; } /* '' */
.icon-link:before { content: '\e86b'; } /* '' */
.icon-list-1:before { content: '\e86c'; } /* '' */
.icon-list:before { content: '\e86d'; } /* '' */
.icon-loading-1:before { content: '\e86e'; } /* '' */
.icon-loading:before { content: '\e86f'; } /* '' */
.icon-location:before { content: '\e870'; } /* '' */
.icon-lock:before { content: '\e871'; } /* '' */
.icon-mail:before { content: '\e872'; } /* '' */
.icon-markdown:before { content: '\e873'; } /* '' */
.icon-media-video-player:before { content: '\e874'; } /* '' */
.icon-media-video:before { content: '\e875'; } /* '' */
.icon-menu-burger:before { content: '\e876'; } /* '' */
.icon-menu-burger1:before { content: '\e877'; } /* '' */
.icon-menu-kebab:before { content: '\e878'; } /* '' */
.icon-menu-meatballs:before { content: '\e879'; } /* '' */
.icon-message:before { content: '\e87a'; } /* '' */
.icon-microphone:before { content: '\e87b'; } /* '' */
.icon-module:before { content: '\e87c'; } /* '' */
.icon-moon:before { content: '\e87d'; } /* '' */
.icon-new-claim:before { content: '\e87e'; } /* '' */
.icon-new-policy:before { content: '\e87f'; } /* '' */
.icon-new-quote:before { content: '\e880'; } /* '' */
.icon-notification-static:before { content: '\e881'; } /* '' */
.icon-notifications-alert:before { content: '\e882'; } /* '' */
.icon-open:before { content: '\e883'; } /* '' */
.icon-paint:before { content: '\e884'; } /* '' */
.icon-passport-1:before { content: '\e885'; } /* '' */
.icon-passport:before { content: '\e886'; } /* '' */
.icon-pen-1:before { content: '\e887'; } /* '' */
.icon-pen:before { content: '\e888'; } /* '' */
.icon-pencil:before { content: '\e889'; } /* '' */
.icon-personal-protection:before { content: '\e88a'; } /* '' */
.icon-pet:before { content: '\e88b'; } /* '' */
.icon-phones-call-1:before { content: '\e88c'; } /* '' */
.icon-phones-call:before { content: '\e88d'; } /* '' */
.icon-pin-it-1:before { content: '\e88e'; } /* '' */
.icon-pin-it:before { content: '\e88f'; } /* '' */
.icon-pin:before { content: '\e890'; } /* '' */
.icon-plan:before { content: '\e891'; } /* '' */
.icon-play:before { content: '\e892'; } /* '' */
.icon-pointsman:before { content: '\e893'; } /* '' */
.icon-policy:before { content: '\e894'; } /* '' */
.icon-post:before { content: '\e895'; } /* '' */
.icon-presentation-1:before { content: '\e896'; } /* '' */
.icon-presentation:before { content: '\e897'; } /* '' */
.icon-print:before { content: '\e898'; } /* '' */
.icon-printer:before { content: '\e899'; } /* '' */
.icon-profile-settings:before { content: '\e89a'; } /* '' */
.icon-profile:before { content: '\e89b'; } /* '' */
.icon-protection-1:before { content: '\e89c'; } /* '' */
.icon-protection:before { content: '\e89d'; } /* '' */
.icon-question-mark-simple:before { content: '\e89e'; } /* '' */
.icon-question:before { content: '\e89f'; } /* '' */
.icon-rain:before { content: '\e8a0'; } /* '' */
.icon-refresh-1:before { content: '\e8a1'; } /* '' */
.icon-refresh:before { content: '\e8a2'; } /* '' */
.icon-rocket:before { content: '\e8a3'; } /* '' */
.icon-route-1:before { content: '\e8a4'; } /* '' */
.icon-route:before { content: '\e8a5'; } /* '' */
.icon-schedule:before { content: '\e8a6'; } /* '' */
.icon-search:before { content: '\e8a7'; } /* '' */
.icon-send-money-1:before { content: '\e8a8'; } /* '' */
.icon-send-money:before { content: '\e8a9'; } /* '' */
.icon-send-1:before { content: '\e8aa'; } /* '' */
.icon-send:before { content: '\e8ab'; } /* '' */
.icon-series-1:before { content: '\e8ac'; } /* '' */
.icon-series:before { content: '\e8ad'; } /* '' */
.icon-settings:before { content: '\e8ae'; } /* '' */
.icon-share-1:before { content: '\e8af'; } /* '' */
.icon-share:before { content: '\e8b0'; } /* '' */
.icon-shop:before { content: '\e8b1'; } /* '' */
.icon-sign-out:before { content: '\e8b2'; } /* '' */
.icon-smartphone-1:before { content: '\e8b3'; } /* '' */
.icon-smartphone:before { content: '\e8b4'; } /* '' */
.icon-smile:before { content: '\e8b5'; } /* '' */
.icon-sofa:before { content: '\e8b6'; } /* '' */
.icon-sort:before { content: '\e8b7'; } /* '' */
.icon-star:before { content: '\e8b8'; } /* '' */
.icon-stopwatch-1:before { content: '\e8b9'; } /* '' */
.icon-stopwatch:before { content: '\e8ba'; } /* '' */
.icon-sun:before { content: '\e8bb'; } /* '' */
.icon-support:before { content: '\e8bc'; } /* '' */
.icon-sustainability-1:before { content: '\e8bd'; } /* '' */
.icon-sustainability:before { content: '\e8be'; } /* '' */
.icon-tag:before { content: '\e8bf'; } /* '' */
.icon-text:before { content: '\e8c0'; } /* '' */
.icon-thumbs-up:before { content: '\e8c1'; } /* '' */
.icon-time-limit:before { content: '\e8c2'; } /* '' */
.icon-trash:before { content: '\e8c3'; } /* '' */
.icon-upload:before { content: '\e8c4'; } /* '' */
.icon-user:before { content: '\e8c5'; } /* '' */
.icon-useradd:before { content: '\e8c6'; } /* '' */
.icon-video-player:before { content: '\e8c7'; } /* '' */
.icon-view-file:before { content: '\e8c8'; } /* '' */
.icon-view-hidden:before { content: '\e8c9'; } /* '' */
.icon-view-visible:before { content: '\e8ca'; } /* '' */
.icon-warning-1:before { content: '\e8cb'; } /* '' */
.icon-warning:before { content: '\e8cc'; } /* '' */
.icon-facebook,-messanger,-square:before { content: '\e8cd'; } /* '' */
.icon-email:before { content: '\e8ce'; } /* '' */
.icon-facebook:before { content: '\e8cf'; } /* '' */
.icon-instagram:before { content: '\e8d0'; } /* '' */
.icon-whatsup:before { content: '\e8d1'; } /* '' */
.icon-youtube:before { content: '\e8d2'; } /* '' */
.icon-clock:before { content: '\e8d3'; } /* '' */
.icon-bookmark---filled:before { content: '\e8d4'; } /* '' */
.icon-bookmark-1:before { content: '\e8d5'; } /* '' */
.icon-bullet---filled---lrg:before { content: '\e8d6'; } /* '' */
.icon-bullet---filled---sml:before { content: '\e8d7'; } /* '' */
.icon-bullet---sml:before { content: '\e8d8'; } /* '' */
.icon-bullet---lrg:before { content: '\e8d9'; } /* '' */
.icon-check---filled:before { content: '\e8da'; } /* '' */
.icon-check-2:before { content: '\e8db'; } /* '' */
.icon-controls-pause:before { content: '\e8dc'; } /* '' */
.icon-controls-play:before { content: '\e8dd'; } /* '' */
.icon-error---filled:before { content: '\e8de'; } /* '' */
.icon-controls-pause---filled:before { content: '\e8df'; } /* '' */
.icon-controls-play---filled:before { content: '\e8e0'; } /* '' */
.icon-error:before { content: '\e8e1'; } /* '' */
.icon-heart---filled:before { content: '\e8e2'; } /* '' */
.icon-home---filled:before { content: '\e8e3'; } /* '' */
.icon-profile---filled:before { content: '\e8e4'; } /* '' */
.icon-heart:before { content: '\e8e5'; } /* '' */
.icon-profile-1:before { content: '\e8e6'; } /* '' */
.icon-tooltip-info---filled:before { content: '\e8e7'; } /* '' */
.icon-tooltip-info:before { content: '\e8e8'; } /* '' */
.icon-tooltip-question:before { content: '\e8e9'; } /* '' */
.icon-tooltip-question---filled:before { content: '\e8ea'; } /* '' */
.icon-arrow-down:before { content: '\e8eb'; } /* '' */
.icon-arrow-left:before { content: '\e8ec'; } /* '' */
.icon-arrow-return:before { content: '\e8ed'; } /* '' */
.icon-arrow-right:before { content: '\e8ee'; } /* '' */
.icon-arrow-skip:before { content: '\e8ef'; } /* '' */
.icon-arrow-up:before { content: '\e8f0'; } /* '' */
.icon-chevron-lrg-down:before { content: '\e8f1'; } /* '' */
.icon-chevron-lrg-up:before { content: '\e8f2'; } /* '' */
.icon-chevron-med-left:before { content: '\e8f3'; } /* '' */
.icon-chevron-sml-down:before { content: '\e8f4'; } /* '' */
.icon-chevron-med-right:before { content: '\e8f5'; } /* '' */
.icon-chevron-sml-right:before { content: '\e8f6'; } /* '' */
.icon-chevron-sml-up:before { content: '\e8f7'; } /* '' */
.icon-chevron-sml-left:before { content: '\e8f8'; } /* '' */
.icon-close-med:before { content: '\e8f9'; } /* '' */
.icon-close-sml:before { content: '\e8fa'; } /* '' */
.icon-close-lrg:before { content: '\e8fb'; } /* '' */
.icon-minus-med:before { content: '\e8fc'; } /* '' */
.icon-minus-sml:before { content: '\e8fd'; } /* '' */
.icon-plus-lrg:before { content: '\e8fe'; } /* '' */
.icon-plus-sml:before { content: '\e8ff'; } /* '' */
.icon-tick-lrg:before { content: '\e900'; } /* '' */
.icon-tick-sml:before { content: '\e901'; } /* '' */
.icon-plus-med:before { content: '\e902'; } /* '' */
.icon-tick-med:before { content: '\e903'; } /* '' */
.icon-minus-lrg:before { content: '\e904'; } /* '' */
.icon-arrow-diagonal:before { content: '\e905'; } /* '' */
.icon-arrows:before { content: '\e906'; } /* '' */
.icon-dropdown-left:before { content: '\e907'; } /* '' */
.icon-dropdown-down:before { content: '\e908'; } /* '' */
.icon-dropdown-right:before { content: '\e909'; } /* '' */
.icon-dropdown-up:before { content: '\e90a'; } /* '' */
.icon-fast-forward:before { content: '\e90b'; } /* '' */
.icon-rewind:before { content: '\e90c'; } /* '' */
.icon-swap:before { content: '\e90d'; } /* '' */
.icon-cookies:before { content: '\e90e'; } /* '' */
