[profile.default]
src = "src"
out = "out"
libs = ["node_modules"]

remappings = [
  "forge-std/=node_modules/forge-std/src",
  "src/=src",
  "test/=test",
  "avs/=../avs/src",
  "solve/=../solve",
  "core/=.",
  "nomina/=../nomina",
  # remapping for eigenlayers import
  '@openzeppelin-upgrades/contracts/=node_modules/@openzeppelin/contracts-upgradeable'
]

fs_permissions = [
  { access = "read-write", path = "./test" },
  { access = "read-write", path = "./script" },
  { access = "read", path = "./out" },
]

allow_paths = ["../avs", "../solve", "../nomina"]
gas_limit = 9223372036854775807 # prev foundry default
memory_limit = 100000000000000
ffi = true

# TODO: upgrade solc
solc_version = "0.8.24"
optimizer = true
optimizer_runs = 200

[fuzz]
seed = "0x6eed"

[fmt]
bracket_spacing = true
number_underscore = "thousands"

# uncomment to verify contracts
# [etherscan]
# holesky = { key = "${ETHERSCAN_KEY}" }
# optimism_sepolia = { key = "${OPSCAN_KEY}" }
# arbitrum_sepolia = { key = "${ARBSCAN_KEY}" }
