[profile.default]
src = "src"
out = "out"
libs = ["node_modules"]

remappings = [
  "forge-std/=node_modules/forge-std/src",
  "ds-test/=node_modules/ds-test/src",
  "src/=src",
  "test/=test",
  "avs/=../avs/src",
  # remapping for eigenlayers import
  '@openzeppelin-upgrades/contracts/=node_modules/@openzeppelin/contracts-upgradeable',
]

fs_permissions = [
  { access = "read-write", path = "./test" },
  { access = "read-write", path = "./script" },
  { access = "read", path = "./out" },
]

allow_paths = ["../avs"]
gas_limit = 9223372036854775807 # prev foundry default
ffi = true

[fuzz]
seed = "0x6eed"

[fmt]
bracket_spacing = true
number_underscore = "thousands"
