global:
  scrape_interval: 30s # Set the scrape interval to every 30 seconds.
  evaluation_interval: 30s # Evaluate rules every 30 seconds.

{{- if .RemoteURL }}
remote_write:
  - url: {{ .RemoteURL }}
    basic_auth:
      username: {{ .RemoteUsername }}
      password: {{ .RemotePassword }}
    write_relabel_configs:
      # Add 'container' label using 'instance without port'
      - source_labels: [instance]
        regex: '(.+):(\d+)'
        target_label: container
        replacement: '${1}'
{{ end }}

scrape_configs:
{{- range .ScrapeConfigs }}
  - job_name: "{{ .JobName }}"
    metrics_path: "{{ .MetricsPath }}"
    static_configs:
      - targets: [{{ .Targets }}] # {{ .JobName }} targets
        labels:
          network: '{{ $.Network }}'
          host: '{{ $.Host }}'
{{ end }}
