/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.videoContainer {
  display: inline-block;
  justify-content: center;
  align-items: center;
  background-color: #000;
  position: relative;
}

.video {
  width: 100%;
  max-width: 800px;
  height: auto;
}
