version: '2.4'

services:
  anvil:
    labels:
      anvil: true
    image: docker.io/chrmllr/foundry-stable
    platform: linux/amd64
    entrypoint:
      - anvil
      - --host=0.0.0.0
      - --chain-id={{ .ChainID }}
      - --silent
      - --load-state=/anvil/state.json
      {{ if .ForkURL }}- --fork-url={{ .ForkURL }}{{ end }}
    ports:
      - {{ .Port }}:8545
    volumes:
      - ./state.json:/anvil/state.json
