version: '2.4'

services:
  anvil:
    labels:
      anvil: true
    image: omniops/anvilproxy:main
    platform: linux/amd64
    environment:
      - ANVILPROXY_CHAIN_ID={{ .ChainID }}
      - ANVILPROXY_LOAD_STATE=/anvil/state.json
    ports:
      - {{ .Port }}:8545
    volumes:
      - ./state.json:/anvil/state.json
