.code-snippet-container {
    position: relative;
    display: block;
    height: 200px; /* Set your desired height */
    overflow-y: auto; /* Enable vertical scrolling if content exceeds height */
}

.code-snippet-footer {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 0;
    padding: 5px 10px;
    background: var(--ifm-color-secondary);
    color: var(--ifm-font-color-base);
    border-top-left-radius: 4px;
    font-size: 0.85em;
}

.code-snippet-footer a {
    text-decoration: none;
    color: inherit;
}

.code-snippet-footer img {
    height: 1.4em;
    vertical-align: text-top;
    margin-left: 5px;
}

.code-snippet-block {
    width: 100%;
}

.code-snippet-footer:hover {
    background: var(--ifm-color-secondary-dark);
}

.code-snippet-warning {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 5px 10px;
    background: rgba(182, 161, 25, 0.445);
    color: var(--ifm-color-white);
    border-top-right-radius: 4px;
    font-size: 0.85em;
    opacity: 0.9;
}

.code-snippet-warning:hover {
    background: rgba(182, 161, 25, 0.797);
}

.code-snippet-warning a {
    text-decoration: none;
    color: inherit;
}
