global:
  scrape_interval: 30s # Set the scrape interval to every 30 seconds.
  evaluation_interval: 30s # Evaluate rules every 30 seconds.

{{- if .RemoteURL }}
remote_write:
  - url: {{ .RemoteURL }}
    basic_auth:
      username: {{ .RemoteUsername }}
      password: {{ .RemotePassword }}
    write_relabel_configs:
      # Trim port from instance label
      - source_labels: [__address__]
        regex: '(.+):(\d+)'
        target_label: instance
        replacement: '${1}'
{{end }}

scrape_configs:
{{- range .ScrapeConfigs }}
  - job_name: "{{ .JobName }}"
    metrics_path: "{{ .MetricsPath }}"
    static_configs:
      - targets: [{{ .Targets }}]
        labels:
          network: '{{ $.Network }}'
{{ end }}
