[profile.default]
src = "src"
out = "out"
libs = ["node_modules"]

remappings = [
  "forge-std/=node_modules/forge-std/src",
  "ds-test/=node_modules/ds-test/src",
  "src/=src",
  "test/=test",
  # remapping for eigenlayers import
  '@openzeppelin-upgrades/contracts/=node_modules/@openzeppelin/contracts-upgradeable',
]

fs_permissions = [{ access = "read-write", path = "./test/data" }]

[fuzz]
seed = "0x6eed6eed"

[fmt]
bracket_spacing = true
number_underscore = "thousands"
