.banner {
    background-image: url('/img/banner-wide-light.png');
    background-size: 100% auto;
    background-position: center center;
    padding: 60px 0;
    text-align: center;
    color: white; /* Adjust the text color for better visibility depending on your image */
}

[data-theme="dark"] .banner {
    background-image: url('/img/banner-wide.png');
}

.banner-title {
    margin: 0;
    /* color: #0056b3; */
    font-size: 70px;
    font-weight: 300;
}

h2 {
    font-weight: 300;
    margin-bottom: 0.25em;
}

.banner-title::after {
    background: none;
}

.banner-subtitle {
    color: #6c757d;
    font-weight: 300;
}

.start-section,
.timeline-section,
.community-section {
    margin-top: 40px;
}

.start-container,
.community-container {
    display: flex;
    justify-content: space-around;
    padding: 10px 0;
}

.start-box,
.community-box {
    position: relative;
    background-color: var(--ifm-color-secondary);
    border-radius: 8px;
    padding: 20px;
    width: 30%;
    text-align: center;
    transition: all 0.3s ease-in-out;
}

/* Initially hide the dot */
.dot {
    content: '';
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: var(--ifm-heading-color);
    box-shadow:
      0 0 10px var(--ifm-heading-color),
      0 0 20px var(--ifm-heading-color);
    opacity: 0;
    top: 20.2%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* transition: opacity 1.5s ease; */
}

[data-theme="dark"] .dot {
    background: var(--ifm-color-primary-lightest); /* Circle color */
    box-shadow:
      0 0 10px var(--ifm-color-primary-lightest), /* Inner glow effect */
      0 0 20px var(--ifm-color-primary-lightest); /* Outer glow effect */
}

/* Show the dot when the container is hovered */
.start-box:hover .dot {
    opacity: 1; /* Make dot visible on hover */
    transition: opacity 0.3s ease; /* Smooth transition for the opacity */
    animation: pulse 1s infinite;
}

.icon {
    height: 50px; /* Adjust the size as needed */
    width: auto;
    margin-bottom: 10px; /* Space between icon and text */
  }

.start-box:hover,
.community-box:hover {
    box-shadow: 0px 0px 2px 2px var(--ifm-heading-color);
    transform: translateY(-1px);
}

.community-box svg {
    width: 30px; /* Example size, adjust as needed */
    height: auto;
    fill: var(--ifm-heading-color); /* Adjust if you want to use the text color */
}

.community-box:hover svg {
    fill: var(--ifm-color-primary); /* Adjust if you want to use the primary color */
}

[data-theme="dark"] .community-box svg {
    fill: var(--ifm-color-primary-lightest); /* Adjust if you want to use the text color */
}

.start-box-link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; /* Ensure it's above other content for clicking */
    cursor: pointer; /* Show a pointer cursor on hover */
    text-decoration: none; /* No underline */
    background: transparent; /* No background color */
}

/* Responsive adjustments */
@media (max-width: 768px) {

    .start-container,
    .community-container {
        flex-direction: column;
        align-items: center;
    }

    .start-box,
    .community-box {
        width: 80%;
        margin-bottom: 20px;
    }
}

@keyframes pulse {
    0%, 100% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
