[profile.default]
src = "src"
out = "out"
libs = ["node_modules"]

remappings = [
  "forge-std/=node_modules/forge-std/src",
  "src/=src",
  "test/=test",
  "core/=../core",
]

allow_paths = ["../core"]

solc_version = "0.8.26"
optimizer = true
optimizer_runs = 200

[fmt]
bracket_spacing = true
number_underscore = "thousands"
