.testnetcta {
    transition: all 0.3s ease-in-out;
    margin: 2rem 0rem;
    padding: 3rem;
    background-image: url('/img/banner-wide-light.png');
    background-size: cover;
    background-position: center;
    border-radius: 8px;
    text-align: center;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: var(--ifm-font-color-base);
}

.testnetcta-contents {
    max-width: 380px;
}

.testnetcta h2 {
    font-size: 1.6rem;
    font-weight: 300;
    margin-bottom: 0.25em;
}

.testnetcta:hover {
    box-shadow: 0px 0px 2px 2px var(--ifm-heading-color);
    text-decoration: none;
    color: var(--ifm-font-color-base);
}

.animated-text {
    margin: 0;
    display: inline-block;
    overflow: hidden;
    color: var(--ifm-heading-color);
    white-space: nowrap;
    opacity: 0;
    font-size: 1.1rem;
    font-weight: 700;
    transition: opacity 1s;
  }

.testnetcta:hover .animated-text {
    transition: opacity 2s;
    opacity: 1;
  }

[data-theme="dark"] .testnetcta {
    background-image: url('/img/banner-wide.png');
}
