/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* Add main Manrope font, and Inter for titles and Geist Mono for subtitles */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:wght@400&display=swap");

/* You can override the default Infima variables here. */
:root {
  /* --ifm-color-content: #00235c; */
  --ifm-color-primary: #0564ff;
  --ifm-color-primary-dark: #0056e1;
  --ifm-color-primary-darker: #0049be;
  --ifm-color-primary-darkest: #003b99;
  --ifm-color-primary-light: #5cd1d7;
  --ifm-color-primary-lighter: #7fd6db;
  --ifm-color-primary-lightest: #d4e8e9;
  --ifm-color-secondary: #ffffff;
  --ifm-color-emphasis-200: var(--ifm-color-white);
  --ifm-code-font-size: 85%;
  --docusaurus-highlighted-code-line-bg: var(--ifm-color-primary-lightest);
  --navbar-color: #fbfcfff1;
  --footer-color: var(--navbar-color);
  --background-color: #ffffff;
  background-color: var(--ifm-background-color);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #4e92ff;
  --ifm-color-primary-dark: #6285bc;
  --ifm-color-primary-darker: #8498b9;
  --ifm-color-primary-darkest: #afbfd8;
  --ifm-color-primary-light: #79cbcf;
  --ifm-color-primary-lighter: #a3d3d5;
  --ifm-color-primary-lightest: #e7ebeb;
  --ifm-color-secondary: #183461;
  --docusaurus-highlighted-code-line-bg: #0000004d;
  --navbar-color: #112346f0;
  --footer-color: var(--navbar-color);
  --background-color: #00122f;
  background-color: var(--background-color);
}

[data-theme="light"] .DocSearch {
  /* --docsearch-primary-color: var(--ifm-color-primary); */
  /* --docsearch-text-color: var(--ifm-font-color-base); */
  --docsearch-muted-color: var(--ifm-color-secondary-darkest);
  --docsearch-container-background: rgba(94, 100, 112, 0.7);
  /* Modal */
  --docsearch-modal-background: var(--navbar-color);
  /* Search box */
  --docsearch-searchbox-background: var(--ifm-color-secondary);
  --docsearch-searchbox-focus-background: var(--ifm-color-white);
  /* Hit */
  --docsearch-hit-color: var(--ifm-font-color-base);
  --docsearch-hit-active-color: var(--ifm-color-white);
  --docsearch-hit-background: var(--ifm-color-white);
  /* Footer */
  --docsearch-footer-background: var(--ifm-color-white);
}

[data-theme="dark"] .DocSearch {
  --docsearch-text-color: var(--ifm-font-color-base);
  --docsearch-muted-color: var(--ifm-color-secondary-darkest);
  --docsearch-container-background: rgba(47, 55, 69, 0.7);
  /* Modal */
  --docsearch-modal-background: var(--navbar-color);
  /* Search box */
  --docsearch-searchbox-background: var(--ifm-color-secondary);
  --docsearch-searchbox-focus-background: var(--ifm-color-black);
  /* Hit */
  --docsearch-hit-color: var(--ifm-font-color-base);
  --docsearch-hit-active-color: var(--ifm-color-white);
  --docsearch-hit-background: var(--ifm-color-primary);
  /* Footer */
  --docsearch-footer-background: var(--navbar-color);
  --docsearch-key-gradient: linear-gradient(-26.5deg, var(--ifm-color-emphasis-200) 0%, var(--ifm-color-emphasis-100) 100%);
}

body {
  font-family: "Manrope", sans-serif;
}

.navbar {
  background: var(--navbar-color);
}

article nav[aria-label='Breadcrumbs'] {
  display: none;
}

.clean-btn:hover {
  color: var(--ifm-color-primary);
}

.footer {
  background: var(--footer-color);
}

/* Titles: Use Inter */
h1, h2, h3, h4, h5, h6 {
  font-family: 'Inter', sans-serif;
  color: var(--ifm-color-primary-darkest);
}

/* Code blocks: Use Geist Mono in bold */
code {
  font-weight: 550;
  font-family: 'Geist Mono', monospace;
  color: var(--ifm-color-primary-darker);
}

[data-theme="dark"] code {
  color: var(--ifm-color-primary-lightest);
  background-color: #213658;
}

[data-theme="dark"] pre code {
  background-color: #000120;
}

[data-theme="light"] pre code {
  background-color: #fbfbfb;
}

/* svgs: Use Manrope */
svg text {
  font-family: "Manrope", sans-serif;
}

.sidebar-separator {
  margin-top: 1em;
  margin-bottom: 0.5em;
  height: 0.5px; /* This sets the thickness of the line */
  background: linear-gradient(to right, var(--ifm-color-emphasis-300), rgba(255, 255, 255, 0));
  border: none; /* Remove the solid border */
}

.sidebar-title > div a {
  text-transform: uppercase;
  font-size: 0.85em;
  color: var(--ifm-color-primary-darker) !important;
  font-family: 'Inter';
}

.sidebar-title > div:hover {
  background-color: transparent;
}

h1:after {
  content: '';
  display: block;
  width: 100%; /* This ensures the gradient spans the entire width of the title */
  height: 0.5px; /* This sets the thickness of the line */
  background: linear-gradient(to right, var(--ifm-color-primary-darkest), rgba(255, 255, 255, 0));
  margin-top: 14px; /* Adjust the spacing as needed */
}
