.DS_Store
cache
node_modules
tsconfig.tsbuildinfo
tsconfig.build.tsbuildinfo
coverage

# compiled output
/lib

# ide files
!.vscode/settings.json
!.vscode/extensions.json

# asdf
.tool-versions

# vitest
tsconfig.vitest-temp.json
