.countdown-timer {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-around;
    font-family: sans-serif;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
  }

  .time-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .time h3 {
    font-size: 28px;
    margin: 0;
  }

  .time-dimension {
    font-size: 14px;
  }
