/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* Add main Manrope font, and Inter for titles and Geist Mono for subtitles */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Geist+Mono:wght@400&display=swap");

/* You can override the default Infima variables here. */
:root {
  /* --ifm-font-family-base: "Manrope"; */
  --ifm-font-family-base: system-ui,-apple-system,Segoe UI,Roboto,Ubuntu,Cantarell,Noto Sans,sans-serif,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  --ifm-heading-font-family: "Inter";
  --ifm-font-family-monospace: "Geist Mono", monospace;
  --ifm-color-primary: #edf4ff;
  --ifm-color-primary-dark: #0564ff;
  --ifm-color-primary-darker: #0049be;
  --ifm-color-primary-darkest: #003b99;
  --ifm-color-primary-light: #3e88ff;
  --ifm-color-primary-lighter: #6ca5ff;
  --ifm-color-primary-lightest: #93bdff;
  --ifm-color-secondary: #f1f4f9;
  --ifm-color-secondary-dark: #e6e9ee;
  --ifm-color-gray-200: #93bdff;
  --ifm-code-font-size: 85%;
  --ifm-heading-color: #003b99;
  --ifm-navbar-background-color: #ffffff;
  --ifm-footer-background-color: #f1f4f9;
  --ifm-footer-title-color: grey;
  --ifm-menu-color-background-active: #edf4ff;
  --ifm-menu-color-active: #606770;
  --ifm-cta-color: black;
  --ifm-link-color: #3e88ff;
  --ifm-navbar-link-hover-color: #3e88ff;
  --ifm-footer-link-hover-color: #3e88ff;
  --ifm-hero-background-color: #edf4ff;
  background-color: #ffffff;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #7eafff;
  --ifm-color-primary-dark: #0d2143;
  --ifm-color-primary-darker: #8498b9;
  --ifm-color-primary-darkest: #afbfd8;
  --ifm-color-primary-light: #79cbcf;
  --ifm-color-primary-lighter: #a3d3d5;
  --ifm-color-primary-lightest: #e7ebeb;
  --ifm-color-gray-800: #8498b9;
  --ifm-color-secondary: #0d2143;
  --ifm-color-secondary-dark: #153161;
  --ifm-heading-color: #0564ff;
  --ifm-navbar-background-color: #00122f;
  --ifm-footer-background-color: #00122f;
  --ifm-menu-color-background-active: #0d2143;
  --ifm-menu-color-active: #606770;
  --ifm-cta-color: #e7ebeb;
  --ifm-hero-background-color: #edf4ff;
  background-color: #00122f;
}

[data-theme="light"] .DocSearch {
  /* --docsearch-primary-color: var(--ifm-color-primary); */
  /* --docsearch-text-color: var(--ifm-font-color-base); */
  --docsearch-muted-color: var(--ifm-color-secondary-darkest);
  --docsearch-container-background: rgba(94, 100, 112, 0.7);
  /* Modal */
  --docsearch-modal-background: var(--ifm-navbar-background-color);
  /* Search box */
  --docsearch-searchbox-background: var(--ifm-color-secondary);
  --docsearch-searchbox-focus-background: var(--ifm-color-white);
  /* Hit */
  --docsearch-hit-color: var(--ifm-font-color-base);
  --docsearch-hit-active-color: var(--ifm-font-color-base);
  --docsearch-hit-background: var(--ifm-color-white);
  --docsearch-highlight-color: var(--ifm-color-primary-lightest);
  /* Footer */
  --docsearch-footer-background: var(--ifm-color-white);
}

[data-theme="dark"] .DocSearch {
  --docsearch-text-color: var(--ifm-font-color-base);
  --docsearch-muted-color: var(--ifm-color-secondary-darkest);
  --docsearch-container-background: rgba(47, 55, 69, 0.7);
  /* Modal */
  --docsearch-modal-background: var(--ifm-navbar-background-color);
  /* Search box */
  --docsearch-searchbox-background: var(--ifm-color-secondary);
  --docsearch-searchbox-focus-background: var(--ifm-navbar-background-color);
  /* Hit */
  --docsearch-hit-color: var(--ifm-font-color-base);
  --docsearch-hit-active-color: var(--ifm-color-black);
  --docsearch-hit-background: var(--ifm-color-secondary);
  /* Footer */
  --docsearch-footer-background: var(--ifm-navbar-background-color);
}

article nav[aria-label='Breadcrumbs'] {
  display: none;
}

footer.footer {
  border-top: 0.25px solid transparent;
  border-image: linear-gradient(to right, var(--ifm-color-emphasis-400), transparent) 1;
}

nav.navbar {
  border-bottom: 0.25px solid transparent;
  border-image: linear-gradient(to right, var(--ifm-color-emphasis-400), transparent) 1;
}

[data-theme="light"] nav.navbar {
  --ifm-navbar-shadow: var(--ifm-navbar-background-color);
}

[class*="theme-doc-sidebar-container"] {
  --ifm-toc-border-color: transparent;
  border-right: 0.5px solid transparent;
  border-image: linear-gradient(to bottom, var(--ifm-color-emphasis-300), transparent) 1;
}

h1:after {
  content: '';
  display: block;
  width: 100%;
  height: 0.5px;
  background: linear-gradient(to right, var(--ifm-color-emphasis-400), rgba(255, 255, 255, 0));
  margin-top: 14px;
}

code {
  font-weight: 550;
  color: var(--ifm-color-primary-darker);
}

[data-theme="dark"] code {
  color: var(--ifm-color-primary-lightest);
  background-color: #213658;
}

[data-theme="dark"] pre code {
  background-color: #000120;
}

[data-theme="light"] pre code {
  background-color: #fbfbfb;
}

svg text {
  font-family: "Manrope", sans-serif;
}

.sidebar-separator {
  margin-top: 1em;
  margin-bottom: 0.5em;
  height: 0.5px;
  background: linear-gradient(to right, var(--ifm-color-emphasis-400), rgba(255, 255, 255, 0));
  border: none;
}

.sidebar-title > div a {
  text-transform: uppercase;
  font-size: 0.85em;
  color: var(--ifm-color-primary);
  font-family: 'Inter';
}

.sidebar-title > div:hover {
  background-color: transparent;
}

figcaption {
  font-size: 0.8em;
  font-style: italic;
  font-family: 'Inter';
}

.cta {
  color: var(--ifm-cta-color);
}

.cta-img {
  width: 80px;
  height: auto;
}

.hero__title {
  font-size: 2.5rem;
}

.hero__subtitle {
  font-size: 1.5rem;
  color: var(--ifm-heading-color);
}

.button.button--secondary {
  color: white;
  background-color: var(--ifm-color-primary-dark);
  margin-top: 3%;
}

.table-of-contents__link--active {
  color: var(--ifm-color-primary-light);
}

.table-of-contents__link:hover {
  color: var(--ifm-color-primary-light);
}
