name: join omega nightly
# Nightly action that tests joining omega as a full node.

on:
  workflow_dispatch:
  schedule:
    - cron: "0 4 * * 1-5" # Weekdays at 4am UTC

permissions:
  contents: read
  pull-requests: read

jobs:
  join:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: 'stable'

      - name: Build binaries
        uses: goreleaser/goreleaser-action@v5
        with:
          version: 2
          args: release -f .goreleaser-snapshot.yaml --snapshot --clean --skip=archive

      - name: Build halovisor image
        run: scripts/halovisor/build.sh "${GITHUB_SHA::7}"

      - name: Run join test
        run: |
          cd scripts/join
          go test . -v --integration --logs_file=docker_logs.txt -timeout 8h

      - name: Upload docker logs
        uses: actions/upload-artifact@v4
        if: always()
        with:
          name: failed-logs
          path: scripts/join/docker_logs.txt
          retention-days: 3
