name: ci pr
# continuous integration on pull requests to main

on:
  pull_request:
    branches:
      - main

permissions:
  contents: read
  pull-requests: read

jobs:
  pre-commit:
    uses: ./.github/workflows/pre-commit.yml
  go-tests:
    uses: ./.github/workflows/gotest.yml
  go-lint:
    uses: ./.github/workflows/golangci-lint.yml
  sol-tests:
    uses: ./.github/workflows/soltest.yml
