name: ci pr api

on:
  pull_request:
    paths:
      - 'api/**'

jobs:
  deploy:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: api
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4
      - name: Install PNPM
        uses: pnpm/action-setup@v4
        with:
          version: 8
      - name: Install Dependencies
        run: pnpm install
      - name: Run tests
        run: pnpm test
