name: PR e2e test

on:
  workflow_call:

jobs:
  pr_e2e_tests:
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v5
      - name: Install Go
        uses: actions/setup-go@v5
        with:
          go-version: 'v1.24'

      - name: Install foundry
        uses: ./.github/actions/setup-foundry
      - name: Install node
        uses: actions/setup-node@v4
        with:
          node-version: 20
      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 9

      - name: Go releaser snapshot
        uses: ./.github/actions/goreleaser-snapshot

      - name: Build halovisor image
        run: scripts/halovisor/build.sh

      - name: Run devnet1 e2e test
        run: |
          go install github.com/omni-network/omni/e2e
          cd e2e && ./run-multiple.sh manifests/devnet1.toml

      - name: Upload failed logs
        uses: actions/upload-artifact@v4
        if: failure()
        with:
          name: failed-logs
          path: e2e/failed-logs.txt
          retention-days: 3
