name: release snapshot
# Snapshot releases on push to main.

on:
  workflow_call:

jobs:
  release-snapshot:
    runs-on: namespace-profile-default
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-go@v5
        with:
          go-version: stable

      - name: Login to Dockerhub container registry
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build docker images
        uses: goreleaser/goreleaser-action@v5
        with:
          version: latest
          args: release --snapshot --clean
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Calculate git short sha
        id: git_ref
        run: echo "short_sha=`echo ${GITHUB_SHA::7}`" >> "$GITHUB_OUTPUT"

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build and push Explorer UI to Dockerhub
        uses: docker/build-push-action@v5
        with:
          context: "{{defaultContext}}:explorer/ui"
          push: true
          tags: omniops/explorer-ui:main,omniops/explorer-ui:${{ steps.git_ref.outputs.short_sha }}
          platforms: linux/amd64,linux/arm64 # dependency node:21-slim unsupported for darwin/amd64, darwin/arm64

      - name: Push Explorer Graphql to Dockerhub
        run: |
          docker push omniops/explorer-graphql:${GITHUB_SHA::7}
          docker push omniops/explorer-graphql:main

      - name: Push Explorer Indexer to Dockerhub
        run: |
          docker push omniops/explorer-indexer:${GITHUB_SHA::7}
          docker push omniops/explorer-indexer:main

      - name: Push Halo to Dockerhub
        run: |
          docker push omniops/halo:${GITHUB_SHA::7}
          docker push omniops/halo:main

      - name: Push Relayer to Dockerhub
        run: |
          docker push omniops/relayer:${GITHUB_SHA::7}
          docker push omniops/relayer:main

      - name: Push Monitor to Dockerhub
        run: |
          docker push omniops/monitor:${GITHUB_SHA::7}
          docker push omniops/monitor:main

      - name: Push Anvilproxy to Dockerhub
        run: |
          docker push omniops/anvilproxy:${GITHUB_SHA::7}
          docker push omniops/anvilproxy:main
