name: release snapshot
# Snapshot releases on push to main.

on:
  workflow_call:

jobs:
  release-snapshot:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v5
        with:
          go-version: 'v1.24'

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Dockerhub container registry
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Go releaser snapshot
        uses: ./.github/actions/goreleaser-snapshot

      - name: Calculate git short sha
        id: git_ref
        run: echo "short_sha=`echo ${GITHUB_SHA::7}`" >> "$GITHUB_OUTPUT"

      - name: Push Halo to Dockerhub
        run: |
          docker push omniops/halo:${GITHUB_SHA::7}
          docker push omniops/halo:main

      - name: Push Relayer to Dockerhub
        run: |
          docker push omniops/relayer:${GITHUB_SHA::7}
          docker push omniops/relayer:main

      - name: Push Monitor to Dockerhub
        run: |
          docker push omniops/monitor:${GITHUB_SHA::7}
          docker push omniops/monitor:main

      - name: Push Solver to Dockerhub
        run: |
          docker push omniops/solver:${GITHUB_SHA::7}
          docker push omniops/solver:main

      - name: Push AnvilProxy to Dockerhub
        run: |
          docker push omniops/anvilproxy:${GITHUB_SHA::7}
          docker push omniops/anvilproxy:main

      - name: Push Omni cli to Dockerhub
        run: |
          docker push omniops/omni:${GITHUB_SHA::7}
          docker push omniops/omni:main

      - name: Build and push halovisor
        uses: docker/build-push-action@v6
        with:
          file: scripts/halovisor/Dockerfile
          build-args: |
            HALO_VERSION_N_LATEST=${{ steps.git_ref.outputs.short_sha }}
          platforms: |
            linux/amd64
          push: true
          tags: |
            omniops/halovisor:main
            omniops/halovisor:${{ steps.git_ref.outputs.short_sha }}
